@import "tailwindcss";

:root {
  --background: #030710;
  --color-primary: #7fc8ff;
  --color-secondary: #cce9ff;
  --color-text: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --color-text: #000000;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-text: var(--color-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--color-text);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
